<div id="header" class="online">
  <div class="container">
    <div id="hLogo" class="online">
      <a
        href="{{ url_for('chat.index') }}"
        target="_self"
        draggable="false"
        tabindex="1"
        >Pywo Chat</a
      >
    </div>
    <div id="hBtns">
      <div class="btns_section online">
        <a
          href="#"
          class="btn"
          name="nameBtn"
          target="_self"
          draggable="false"
          tabindex="2"
          >{{ g.user['firstname'] + ' ' + g.user['lastname'] }}
          <span id="loggedInUserUsername" style="display: none"
            >{{ g.user['username'] }}</span
          ></a
        >
      </div>
      <div class="btns_section online">
        <a
          href="{{ url_for('auth.logout') }}"
          class="btn"
          name="outBtn"
          target="_self"
          draggable="false"
          tabindex="3"
          >Log Out</a
        >
      </div>
    </div>
  </div>
</div>
