#hPush
{
  width: 100%;
  height: 96px;
  z-index: 1000;
}

#header
{
  position: fixed;
  top: 0;
  width: 100%;
  height: 96px;
  background: #FFF;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px rgba(0, 0, 0, .12);
  z-index: 1001;
}

#hLogo
{
  display: table;
  position: relative;
  float: left;
  width: 164px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

#hLogo > a
{
  display: table-cell;
  color: #26A69A;
  font-family: Pacifico, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 60px;
  text-decoration: none;
  letter-spacing: .1px;
  vertical-align: middle;
}

#hBtns
{
  display: table;
  position: relative;
  margin: 0;
  float: right;
  height: 72px;
}

.btns_section
{
  display: table-cell;
  position: relative;
  padding: 0 12px;
  vertical-align: bottom;
}

.btns_section:last-child
{
  padding: 0;
}

.btn[name='nameBtn']
{
  padding: 8px 0;
  border: 2px solid #FFF;
  background: none;
  color: #616161;
  box-shadow: none;
}

.btn[name='logBtn']
{
  border: 2px solid #FFF;
  background: #FFF;
  color: #616161;
  transition: all .12s cubic-bezier(.4, 0, .65, .18);
}

.btn[name='logBtn']:active
{
  border: 2px solid #BDBDBD;
  background: #BDBDBD;
  transition: all .12s cubic-bezier(.35, .82, .4, 1);
}

@media only screen and (max-width: 720px) {
  #hPush
  {
    height: 0;
  }

  #header
  {
    position: relative;
  }

  #header.offline
  {
    height: 172px;
  }

  #hLogo.offline
  {
    float: none;
    width: 100%;
    height: 76px;
  }

  #hLogo.online
  {
    display: none;
  }

  #hBtns
  {
    width: 100%;
    text-align: center;
  }

  .btns_section.online
  {
    display: inline-block;
    float: left;
    padding: 30px 0 0 0;
  }

  .btns_section:last-child.online
  {
    float: right;
  }

  .btns_section.offline
  {
    display: inline-block;
    padding: 30px 6px 0 12px;
  }

  .btns_section:last-child.offline
  {
    padding: 30px 12px 0 6px;
  }
}
