[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-socketio = "*"
gunicorn = "==20.1.0"
flask-sqlalchemy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
eventlet = "==0.30.2"
flask-jsglue = {git = "https://github.com/corlukantonio/Flask-JSGlue"}

[requires]
python_version = "3.11.4"
