[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jsglue = {editable = true, ref = "e49d34d6f6ff88cc5ccb74f25914c9166439e7cc", git = "git+https://github.com/corlukantonio/Flask-JSGlue.git"}
flask-socketio = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
eventlet = "*"
flask-migrate = "*"
testcontainers = "*"
pytest = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
