#profileFrame {
  display: block;
  position: relative;
  margin: 0 auto;
}

#importUserPic {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  z-index: 1800;
}

#importUserPic > input[type="file"] {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  color: transparent;
  opacity: 0;
  cursor: pointer;
}

#importUserPic > input[type="submit"] {
  display: none;
}

#profileUserPic {
  display: block;
  position: relative;
  padding: 16px 0;
  height: 200px;
}

#profileUserPic > div {
  display: table;
  margin: 0 auto;
  height: 100%;
  width: 200px;
  overflow: hidden;
}

#profileUserPic > div > img {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

#profileUserName {
  display: block;
  text-align: center;
}

#profileUserName > span {
  display: block;
  color: #616161;
  font-size: 24px;
  font-weight: 500;
}
