<div id="chatContacts">
  {% for my_contact in my_contacts %}
  <div class="inbox_user">
    <span class="inbox_user_info"
      >{{ my_contact['firstname'] + ' ' + my_contact['lastname'] + ' (' +
      my_contact['user_2'] + ')' }}</span
    >
    <span class="inbox_last_msg"></span>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
  $(document).ready(() => {
    let protocol = window.location.protocol;
    let socket = io.connect(
      protocol + '//' + document.domain + ':' + location.port
    );

    // Event handler
    function eventHandler(event) {
      let eSrc = eventUtility.getTarget(event);
      let eType = event.type;

      switch (eType) {
        case 'click':
          if (
            $(eSrc).hasClass('inbox_user_info') ||
            $(eSrc).hasClass('inbox_last_msg')
          ) {
            let targetUser = Utils.getTargetUsername();

            $('#targetUser span').text(targetUser);

            targetUser = targetUser.replace('(', '');
            targetUser = targetUser.replace(')', '');
            targetUserArr = targetUser.split(' ');

            let sentMsg = $('.sent_msgs');
            let sentMsgsLength = sentMsg.length;
            let msgInfo;
            let firstMessage = true;

            for (let i = 0; i < sentMsgsLength; i++) {
              msgInfo = $($('.msg_info')[i]).text().split(' ');
              if (
                (msgInfo[0] == $('#loggedInUserUsername').text() &&
                  msgInfo[1] == targetUserArr[2]) ||
                (msgInfo[0] == targetUserArr[2] &&
                  msgInfo[1] == $('#loggedInUserUsername').text())
              ) {
                $(sentMsg[i]).css('display', 'block');
                if (firstMessage) {
                  $(sentMsg[i]).addClass('first_message');
                  firstMessage = false;
                }
              } else {
                $(sentMsg[i]).css('display', 'none');
              }
            }

            $('#msgsView').scrollTop($('#msgsView')[0].scrollHeight);

            socket.emit(
              'choose_contact',
              $('#loggedInUserUsername').text(),
              targetUserArr
            );
          }
          break;

        default:
          break;
      }
    }

    eventUtility.addEvent(document, 'click', eventHandler);
  });
</script>
