<div id="chatContacts">
  {% for my_contact in my_contacts %}
  <div class="inbox_user">
    <span class="inbox_user_info"
      >{{ my_contact['firstname'] + ' ' + my_contact['lastname'] + ' (' +
      my_contact['user_2'] + ')' }}</span
    >
    <span class="inbox_last_msg"></span>
  </div>
  {% endfor %}
</div>

<script type="text/javascript">
  class ContactsHandler {
    constructor(messagesHandler, socket, loggedInUserUsername) {
      this.messagesHandler = messagesHandler;
      this.socket = socket;
      this.loggedInUserUsername = loggedInUserUsername;
    }

    loadMessages = async () => {
      let targetUser = Utils.getTargetUsername();

      this.messagesHandler.setTargetUser(targetUser);

      targetUser = targetUser.replace('(', '').replace(')', '').split(' ');

      let sentMessages = await this.messagesHandler.getSentMessages();
      let sentMessagesCount = await this.messagesHandler.getSentMessagesCount();
      let firstMessage = true;

      for (let i = 0; i < sentMessagesCount; i++) {
        let messageInfo = (await this.messagesHandler.getMessageInfo(i))
          .text()
          .split(' ');

        if (
          (messageInfo[0] == this.loggedInUserUsername &&
            messageInfo[1] == targetUser[2]) ||
          (messageInfo[0] == targetUser[2] &&
            messageInfo[1] == this.loggedInUserUsername)
        ) {
          this.showMessage(sentMessages[i]);

          if (firstMessage) {
            $(sentMessages[i]).addClass('first_message');
            firstMessage = false;
          }
        } else this.hideMessage(sentMessages[i]);
      }

      this.messagesHandler.scrollToLatest();

      this.socket.emit('choose_contact', this.loggedInUserUsername, targetUser);
    };

    showMessage = async (sentMessage) => $(sentMessage).css('display', 'block');

    hideMessage = async (sentMessage) => $(sentMessage).css('display', 'none');

    getInboxUsers = async () => $('.inbox_user').toArray();

    getInboxUserCount = async () => $('.inbox_user').length;

    getInboxUserInfos = async () => $('.inbox_user_info');

    getInboxLastMessages = async () => $('.inbox_last_msg');
  }
</script>
