{% extends 'base.html' %} {% block header %} {% block title %}Naslovnica{%
endblock %} {% endblock %} {% block content %} {% if g.user %} {% include
'chat/search-bar/search-bar.html' %}

<!-- Chat -->
<div id="chatFrame">
  <div class="container">
    <div id="chatInner">
      {% include 'chat/contacts.html' %} {% include 'chat/messages.html' %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    let protocol = window.location.protocol;

    // Connect to server
    let socket = io.connect(
      protocol + '//' + document.domain + ':' + location.port
    );

    socket.on('connect', function () {
      console.log('User has connected.');

      let sentMsgsLength = $('.sent_msgs').length;
      let msgContent = $('.msg_content');
      let userSender;
      let inboxUserLength = $('.inbox_user').length;
      let inboxUserInfo = $('.inbox_user_info');
      let inboxLastMsg = $('.inbox_last_msg');
      let addContact = $('.add_contact');
      let addContactLength = addContact.length;
      let foundUser = $('.found_contact');

      // Loading the last sent message to inbox
      for (let i = 0; i < sentMsgsLength; i++) {
        userSender = $($('.msg_info')[i]).text().split(' ');
        for (let j = 0; j < inboxUserLength; j++) {
          if (
            $(inboxUserInfo[j]).text().indexOf(userSender[0]) > -1 ||
            $(inboxUserInfo[j]).text().indexOf(userSender[1]) > -1
          )
            $(inboxLastMsg[j]).text($(msgContent[i]).text());
        }
      }

      for (let i = 0; i < addContactLength; i++) {
        // If the user in search results matches current user, remove add button
        if (
          $(foundUser[i]).text().indexOf($('#loggedInUserUsername').text()) > -1
        )
          $(addContact[i]).css('display', 'none');

        for (let j = 0; j < inboxUserLength; j++) {
          // If the user in search results is already in the contacts, change the button
          if ($(inboxUserInfo[j]).text().indexOf($(foundUser[i]).text()) > -1)
            Utils.setToAdded(addContact[i]);
        }
      }
    });

    // args = [msg, loggedInUserUsername, targetUser]
    socket.on('message', function (args) {
      let targetUser = $('#targetUser span').text();

      targetUser = targetUser.replace('(', '');
      targetUser = targetUser.replace(')', '');

      let targetUserArr = targetUser.split(' ');

      console.log("helloooooo it's meeee");

      let inboxUser = $('.inbox_user');
      let inboxUserLength = inboxUser.length;
      let userMatch =
        JSON.parse(args[1])['username'] == $('#loggedInUserUsername').text();
      console.log(args);
      let msgInfo;
      let firstMessage = true;
      let newMsgSound = new Audio(
        Flask.url_for('static', { filename: 'stairs.mp3' })
      );

      $('#msgsView').append(
        (userMatch
          ? "<div style='display: block;' class='sent_msgs sender'>"
          : "<div style='display: block;' class='sent_msgs receiver'>") +
          "<span class='msg_info' style='display: none;'>" +
          args[1] +
          ' ' +
          args[2][2] +
          '</span>' +
          "<div class='msg_wrapper'>" +
          '<span>' +
          args[0] +
          '</span>' +
          '</div>' +
          "<span class='sent_time'>" +
          Utils.getDateAsString() +
          '</span>' +
          '</div>'
      );

      for (let i = 0; i < inboxUserLength; i++) {
        if (
          userMatch &&
          $($(inboxUser[i]).children()[0]).text().indexOf(args[2][2]) > -1
        ) {
          $($(inboxUser[i]).children()[1]).text(args[0]);
        } else if (
          !userMatch &&
          $($(inboxUser[i]).children()[0]).text().indexOf(args[1]) > -1 &&
          $('#loggedInUserUsername').text().indexOf(args[2][2]) > -1
        ) {
          $($(inboxUser[i]).children()[1]).text(args[0]);
          newMsgSound.play();
        }
      }

      let sentMsg = $('.sent_msgs');
      let sentMsgsLength = sentMsg.length;

      for (let i = 0; i < sentMsgsLength; i++) {
        msgInfo = $($('.msg_info')[i]).text().split(' ');
        console.log(msgInfo);
        console.log($('#loggedInUserUsername').text());
        console.log(targetUserArr);
        if (
          (JSON.parse(msgInfo[0])['username'] ==
            $('#loggedInUserUsername').text() &&
            msgInfo[1] == targetUserArr[2]) ||
          (msgInfo[0] == targetUserArr[2] &&
            msgInfo[1] == $('#loggedInUserUsername').text())
        ) {
          $(sentMsg[i]).css('display', 'block');
          if (firstMessage) {
            $(sentMsg[i]).addClass('first_message');
            firstMessage = false;
          }
        } else {
          $(sentMsg[i]).css('display', 'block');
        }
      }
      $('#msgsView').scrollTop($('#msgsView')[0].scrollHeight);
    });
  });

  eventUtility.addEvent(window, 'load', Utils.resizeChatFrame);
  eventUtility.addEvent(window, 'resize', Utils.resizeChatFrame);
</script>
{% endif %} {% endblock %}
