{% extends 'base.html' %} {% block header %} {% block title %}Naslovnica{%
endblock %} {% endblock %} {% block content %} {% if g.user %} {% include
'chat/search-bar/search-bar.html' %}

<!-- Chat -->
<div id="chatFrame">
  <div class="container">
    <div id="chatInner">
      {% include 'chat/contacts.html' %} {% include
      'chat/messages/messages.html' %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(async () => {
    let protocol = window.location.protocol;
    let socket = io.connect(
      protocol + '//' + document.domain + ':' + location.port
    );
    let headerOnlineHandler = new HeaderOnlineHandler();
    let loggedInUserUsername =
      await headerOnlineHandler.getLoggedInUserUsername();
    let searchInputHandler = new SearchInputHandler();
    let searchResultsHandler = new SearchResultsHandler(
      searchInputHandler,
      socket,
      loggedInUserUsername
    );
    let searchBarHandler = new SearchBarHandler();
    let composeMessageHandler = new ComposeMessageHandler();
    let messagesHandler = new MessagesHandler(
      composeMessageHandler,
      socket,
      loggedInUserUsername
    );
    let contactsHandler = new ContactsHandler(
      messagesHandler,
      socket,
      loggedInUserUsername
    );

    handleEvent = async (event) => {
      let eSrc = eventUtility.getTarget(event);
      let eType = event.type;

      switch (eType) {
        case 'click':
          let isClickedOutside = await searchBarHandler.isClickedOutside(eSrc);
          let isAddContact = await searchResultsHandler.isAddContact(eSrc);
          let isInboxUser =
            $(eSrc).hasClass('inbox_user_info') ||
            $(eSrc).hasClass('inbox_last_msg');

          if (isInboxUser) contactsHandler.loadMessages();
          if (eSrc.id == 'sendMsg') messagesHandler.sendMessage();
          if (isAddContact) searchResultsHandler.addContact(eSrc);
          searchResultsHandler.handleSearchResultsVisibility(isClickedOutside);

          break;

        case 'keyup':
          if (eSrc.id == 'inputMsg' && event.which == '13')
            messagesHandler.sendMessage();

          if (eSrc.id == 'searchedValue')
            searchResultsHandler.handleSearchResultsVisibility();

          break;

        default:
          break;
      }
    };

    eventUtility.addEvent(document, 'click', handleEvent);
    eventUtility.addEvent(document, 'keyup', handleEvent);

    socket.on('connect', async () => {
      await contactsHandler.loadLatestMessage();
      await loadAddContactButtons();
    });

    loadAddContactButtons = async () => {
      let addContacts = await searchResultsHandler.getAddContacts();
      let foundUser = await searchResultsHandler.getFoundContacts();
      let inboxUserInfos = await contactsHandler.getInboxUserInfos();

      addContacts.forEach((elem, i) => {
        let isLoggedInUser =
          $(foundUser[i]).text().indexOf(loggedInUserUsername) > -1;

        if (isLoggedInUser) $(elem).css('display', 'none');

        inboxUserInfos.forEach((elem, j) => {
          let isAddedContact =
            $(elem).text().indexOf($(foundUser[i]).text()) > -1;

          if (isAddedContact) Utils.setToAdded(addContacts[i]);
        });
      });
    };

    // args = [msg, loggedInUserUsername, targetUser]
    socket.on('message', async (args) => {
      let targetUser = $('#targetUser span').text();

      targetUser = targetUser.replace('(', '');
      targetUser = targetUser.replace(')', '');

      let targetUserArr = targetUser.split(' ');

      let inboxUsers = await contactsHandler.getInboxUsers();
      let userMatch = JSON.parse(args[1])['username'] == loggedInUserUsername;
      console.log(args);
      let firstMessage = true;
      let newMsgSound = new Audio(
        Flask.url_for('static', { filename: 'stairs.mp3' })
      );

      await messagesHandler.appendMessage(args);

      inboxUsers.forEach((elem) => {
        let inboxUserInfo = $($(elem).children[0]);
        let inboxLastMessage = $($(elem).children[1]);

        if (userMatch && $(inboxUserInfo).text().indexOf(args[2][2]) > -1)
          inboxLastMessage.text(args[0]);
        else if (
          !userMatch &&
          inboxUserInfo.text().indexOf(args[1]) > -1 &&
          loggedInUserUsername.indexOf(args[2][2]) > -1
        ) {
          $($(elem).children()[1]).text(args[0]);
          newMsgSound.play();
        }
      });

      let sentMessages = await messagesHandler.getSentMessages();
      let sentMessagesCount = await messagesHandler.getSentMessagesCount();

      sentMessages.forEach(async (elem, i) => {
        let messageInfo = (await messagesHandler.getMessageInfo(i))
          .text()
          .split(' ');

        if (
          (JSON.parse(messageInfo[0])['username'] == loggedInUserUsername &&
            messageInfo[1] == targetUserArr[2]) ||
          (messageInfo[0] == targetUserArr[2] &&
            messageInfo[1] == loggedInUserUsername)
        ) {
          $(elem).css('display', 'block');
          if (firstMessage) {
            $(elem).addClass('first_message');
            firstMessage = false;
          }
        } else {
          $(elem).css('display', 'block');
        }
      });

      messagesHandler.scrollToLatest();
    });
  });

  eventUtility.addEvent(window, 'load', Utils.resizeChatFrame);
  eventUtility.addEvent(window, 'resize', Utils.resizeChatFrame);
</script>
{% endif %} {% endblock %}
