<div id="chatMsgs">
  <div id="targetUser">
    <span></span>
  </div>
  <div id="msgsView">
    {% for my_message in my_messages %} {% if g.user['username'] ==
    my_message['username'] %}
    <!-- Message sent by logged user (right alignment). -->
    <div class="sent_msgs sender">
      <span class="msg_info"
        >{{ my_message['username'] + ' ' +
        my_message['username_receiver']}}</span
      >
      <div class="msg_wrapper">
        <span class="msg_content">{{ my_message['content'] }}</span>
      </div>
      <span class="sent_time">{{ my_message['created'] }}</span>
    </div>
    {% else %}
    <!-- Message received by logged user (left alignment). -->
    <div class="sent_msgs receiver">
      <span class="msg_info"
        >{{ my_message['username'] + ' ' + my_message['username_receiver']
        }}</span
      >
      <div class="msg_wrapper">
        <span class="msg_content">{{ my_message['content'] }}</span>
      </div>
      <span class="sent_time">{{ my_message['created'] }}</span>
    </div>
    {% endif %} {% endfor %}
    <!-- Compose message. -->
    <div id="composeMsg">
      <div class="req_section write">
        <input
          type="text"
          class="_input_txt"
          id="inputMsg"
          name="inputMsg"
          placeholder="Unesite poruku"
          value=""
          tabindex="5"
        />
      </div>
      <div class="req_section send">
        <input
          type="button"
          class="btn"
          id="sendMsg"
          value="Pošaljite"
          tabindex="6"
        />
      </div>
    </div>
  </div>
</div>
