<div id="searchEngine">
  <div id="searchInput">
    <div class="req_section">
      <input
        type="text"
        class="_input_txt"
        id="searchInputValue"
        name="username"
        value=""
        tabindex="4"
        maxlength="30"
        autocomplete="off"
        required
      />
      <label class="_ttl" for="username">Pretražite</label>
    </div>
  </div>
  <div id="searchResultsTop5">
    {% for searched_contact in all_contacts %}
    <div class="search_results">
      <span class="found_user"
        >{{ searched_contact['firstname'] + ' ' + searched_contact['lastname'] +
        ' (' + searched_contact['username'] + ')' }}</span
      >
      <div class="add_user_section">
        <a class="btn add add_new_contact">Dodaj</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
