<!DOCTYPE html />

<html>
  <head>
    <title>Pywo Chat - {% block title %}{% endblock %}</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Styles -->
    <link
      href="{{ url_for('static', filename='css/base.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/default.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/header.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/profile.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"
      integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="{{ url_for('static', filename='js/eventUtility.js') }}"
      type="text/javascript"
    ></script>
    <script
      src="{{ url_for('static', filename='js/utils.js') }}"
      type="text/javascript"
    ></script>

    {{ JSGlue.include() }}
  </head>
  <body>
    <div id="hPush"></div>
    {% if g.user %}
    <!-- Header - If user logged -->
    <div id="header" class="online">
      <div class="container">
        <div id="hLogo" class="online">
          <a
            href="{{ url_for('chat.index') }}"
            target="_self"
            draggable="false"
            tabindex="1"
            >Pywo Chat</a
          >
        </div>
        <div id="hBtns">
          <div class="btns_section online">
            <a
              href="#"
              class="btn"
              name="nameBtn"
              target="_self"
              draggable="false"
              tabindex="2"
              >{{ g.user['firstname'] + ' ' + g.user['lastname'] }}
              <span id="loggedInUserUsername" style="display: none"
                >{{ g.user['username'] }}</span
              ></a
            >
          </div>
          <div class="btns_section online">
            <a
              href="{{ url_for('auth.logout') }}"
              class="btn"
              name="outBtn"
              target="_self"
              draggable="false"
              tabindex="3"
              >Odjavite se</a
            >
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <!-- Header - If user not logged -->
    <div id="header" class="offline">
      <div class="container">
        <div id="hLogo" class="offline">
          <a href="/" target="_self" draggable="false" tabindex="1"
            >Pywo Chat</a
          >
        </div>
        <div id="hBtns">
          <div class="btns_section offline">
            <a
              href="{{ url_for('auth.login') }}"
              class="btn"
              name="logBtn"
              target="_self"
              draggable="false"
              tabindex="2"
              >Prijavite se</a
            >
          </div>
          <div class="btns_section offline">
            <a
              href="{{ url_for('auth.register') }}"
              class="btn"
              name="regBtn"
              target="_self"
              draggable="false"
              tabindex="3"
              >Izradite račun</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- Content -->
    <div id="content">
      <div class="container">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
