<!DOCTYPE html />

<html>
  <head>
    <title>Pywo Chat - {% block title %}{% endblock %}</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Fonts. -->
    <link
      href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Styles. -->
    <link
      href="{{ url_for('static', filename='css/base.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/default.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/header.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/index.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/profile.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Scripts. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"
      integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="{{ url_for('static', filename='js/eventManager.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/utils.js') }}"
      type="module"
    ></script>

    <!-- Packages. -->
    <!-- <script
      src="{{ url_for('static', filename='node_modules/socket.io/dist/socket.js') }}"
      type="module"
    ></script> -->

    <!-- Errors. -->
    <script
      src="{{ url_for('static', filename='js/errors/missingPropertyError.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/errors/targetUserLengthError.js') }}"
      type="module"
    ></script>

    <!-- Models. -->
    <script
      src="{{ url_for('static', filename='js/models/messageParticipant.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/models/messageUpdate.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/models/targetUser.js') }}"
      type="module"
    ></script>

    <!-- Handlers. -->
    <script
      src="{{ url_for('static', filename='js/handlers/composeMessageHandler.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/handlers/messagesHandler.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/handlers/searchBarHandler.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/handlers/headerOnlineHandler.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/handlers/contactsHandler.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/handlers/searchInputHandler.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/handlers/searchResultsHandler.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='dist/main.bundle.js') }}"
      type="module"
    ></script>

    {{ JSGlue.include() }}
  </head>
  <body>
    <div id="hPush"></div>
    {% if g.user %} {% include 'header/online.html' %} {% else %} {% include
    'header/offline.html' %} {% endif %}
    <div id="content">
      <div class="container">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
